pip install deap

from pandas import *
import numpy as np
from random import random
import random
import math

import matplotlib.pyplot as plt
from deap import base, tools, creator, algorithms